.loading {
    height: 100vh;
    padding: 80px;
}

.config {
    background-color: white;
    padding: 20px;
}

.config h1 {
    font-size: 1.5em;
}

.rojo {
    color: red;
}

.porconfig {
    padding-top: 80px;
    min-height: 400px;
}

.headConfig {
    padding: 20px;
    color: white;
}

.seccion h1 {
    font-size: 1.3em;
    margin: 0;
}

.icono {
    height: 80px;
    width: 80px;
    border-radius: 80px;
    padding-top: 25px;
    color: white;
    text-align: center;
}

.cifras {
    padding: 40px 20px 20px;
    color: #002157;
    margin: 0;
    border-bottom: 3px solid #931116;
}

.cifra {
    margin-bottom: 20px;
}

.cifras h1 {
    font-size: 4em;
    font-weight: 700;
    margin: -10px;
}

.cifras p {
    margin: 0;
}

.filtros {
    padding: 20px;
    border-bottom: 3px solid #931116;
}

.filtro {
    background-color: white;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.resultados {
    padding: 20px 0;
    min-height: 50vh;
}

@media (min-width: 768px) {
    .seccion h1 {
        font-size: 2em;
        margin: 0;
    }
    .icono {
        height: 80px;
        width: 80px;
        border-radius: 80px;
        padding-top: 25px;
    }
    .config h1 {
        font-size: 2em;
    }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}