<div class="nav-side-menu animated rotateInDownLeft">
    <div class="brand text-center">
        <i style="color:#931116" class="fas fa-paint-roller fa-4x"></i>
    </div>
    <p>Bievenido:</p>
    <p>{{user.NOMBRE |titlecase }} {{user.APELLIDO |titlecase }}</p>

    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <div class="menu-list">
        <ul id="menu-content" class="menu-content collapse out">

            <li routerLink="/obras">
                <a class="nav-link">
                    <i class="fas fa-city"></i> Obras
                </a>
            </li>

            <li routerLink="/historial">
                <a class="nav-link">
                    <i class="fas fa-paint-roller"></i> Historial
                </a>
            </li>

            <li routerLink="/operarios">
                <a class="nav-link">
                    <i class="fas fa-hard-hat"></i> Operario
                </a>
            </li>

            <li routerLink="/usuarios">
                <a class="nav-link">
                    <i class="fas fa-user"></i> Usuarios
                </a>
            </li>

            <li (click)="salir()">
                <a class="nav-link">
                    <i class="fas fa-door-open"></i> Cerrar Sesión
                </a>
            </li>

            <!--VENTAS-->
            <!-- <li data-toggle="collapse" data-target="#ventas">
                <a><i class="fas fa-money-bill-wave"></i> Personal </a>
            </li>

            <ul class="sub-menu collapse" id="ventas">
                <li><a class="nav-link" routerLink="/ventames" routerLinkActive="active">Venta Mensual</a>
                </li>
                <li><a class="nav-link" routerLink="/ventasperiodo" routerLinkActive="active">Ventas por periodo</a>
                </li>
                <li><a class="nav-link" routerLink="/ventasPersonal" routerLinkActive="active">Ventas Personal</a>
                </li>
                <li><a class="nav-link" routerLink="/ventasCanales" routerLinkActive="active">Ventas por Canales</a>
                </li>
                <li><a class="nav-link" routerLink="/ranking" routerLinkActive="active">Ranking de Productos</a>
                </li>
                <li><a class="nav-link" routerLink="/detalleVentas" routerLinkActive="active">Detalle Ventas</a>
                </li>
            </ul> -->

        </ul>

    </div>
</div>