<div class="row encabezado animated fadeIn fast" style=margin:0>

    <div class="col-12 col-md-6">
        <h1>Configuración</h1>
        <h3>Unidad de Control</h3>
        <p>{{unidad.INAME}} > {{unidad.NNAME}} > <span>{{unidad.UNAME}} </span></p>
    </div>

    <div class="col-12 col-md-2 offset-md-4 text-rigth pt-4">
        <button class="btn btn-outline-warning" (click)="volver()">Volver</button>
    </div>
</div>

<div class="row ml-0">


    <div class="col-4 formulario f_gris">
        <form (ngSubmit)="guardarU( f )" #f="ngForm" class="row">

            <div class="col-12 form-group animated fadeIn">
                <label for="operacion">Operación</label>
                <select class="form-control" required name="operacion" [(ngModel)]="pega.IDOPERACION">
                <option *ngFor="let operacion of operaciones" [(ngValue)]="operacion.OPERACIONID" > {{operacion.NOMBRE | titlecase}} - ({{operacion.UNIDAD | titlecase}}) - ${{operacion.PRECIO}} </option>
            </select>
            </div>

            <div class="col-12 form-group">
                <label for="meta">Meta</label>
                <span *ngIf="f.submitted && f.controls['meta'].errors" class="text-danger animated fadeIn"> Este campo obligatorio</span>
                <input class="form-control" type="number" name="meta" [(ngModel)]="pega.META" required minlength="1" placeholder="Cantidad por hacer">
            </div>
            <hr>

            <div class="col-12 mt-2">
                <button type="submit" class=" btn btn-primary btn-block">Guardar </button>
            </div>

        </form>
        <div *ngIf="this.pegas.length > 0" class="col-12 mt-2">
            <button class=" btn btn-warning btn-block" (click)="guardarMolde()">Guardar Molde para clonar</button>
        </div>
    </div>


    <div class="col-8 f_blanco  pl-0">

        <div class="row buscador">
            <div class="col-1 text-center">
                <i class="fas fa-search fa-2x mt-1 text-primary"></i>
            </div>
            <div class="col-11">
                <input class="form-control" type="text" class="form-control " name="searchString " placeholder="Buscador... " [(ngModel)]="searchString " />
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Operacion</th>
                        <th scope="col">Unidad de Medida</th>
                        <th scope="col">Progreso </th>
                        <th scope="col">Meta</th>
                        <th scope="col">Creado </th>
                        <th scope="col">Acciones </th>
                    </tr>
                </thead>
                <tbody class="f_blanco">
                    <tr *ngFor="let pega of pegas | filter : { 'OPERACION' : searchString, 'PROGRESO' : searchString, 'META' : searchString, 'CREADO' : searchString}; index as i" class="pointer">
                        <td>{{i + 1}}</td>
                        <td>{{pega.OPERACION | titlecase}}</td>
                        <td>{{pega.UNIDAD | titlecase}}</td>
                        <td>{{pega.PROGRESO }}</td>
                        <td>{{pega.META }}</td>
                        <td>{{pega.CREADO | date: 'dd/MM/yyyy'}}</td>
                        <td><i (click)="editar(pega)" class="fas fa-pen "></i>
                            <i (click)="alertaBorrar(pega)" class="far fa-trash-alt ml-4"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>