.encabezado p {
    margin: 0;
}

.encabezado h1 {
    font-size: 3em;
    font-weight: 700;
    margin-top: -5px;
    margin-bottom: -5px;
}

.registro {
    color: white;
}

.operarios h1,
.registro h1 {
    font-size: 3em;
    font-weight: 700;
    margin-top: 40px;
    line-height: 36px;
}

.registro,
.operarios {
    padding: 0 20px 30px;
    max-height: 50vh;
    overflow: auto;
}

.registro p {
    margin: 0;
}

.registro span {
    font-weight: 700;
}

.headRegistro {
    border-bottom: 1px solid white;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.cuadrilla {
    padding: 20px 0;
    border-bottom: 1px solid white;
}

.cuadrilla p {
    margin: 0;
    font-size: 1.1em;
}

.tabla span {
    font-size: 0.8em;
    font-style: italic;
}

.titulo {
    padding: 20px;
}

.titulo h1 {
    font-size: 2em;
    font-weight: 700;
    color: #002157;
    padding-top: 20px;
}

.icono {
    background-color: crimson;
    color: white;
    text-align: center;
    padding: 15px
}

.dato {
    background-color: white;
}

.dato h1 {
    font-size: 2.2em;
    font-weight: 700;
    padding-top: 20px;
    margin: -10px;
}

@media (min-width: 800px) {
    .registro,
    .operarios {
        max-height: 100vh;
    }
}